



<div class="banner">
  <div class="box">
    <img src="../../assets/insurance.gif" alt="" class="icon">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus sit reiciendis laboriosam sapiente voluptate sunt fuga explicabo iure. Blanditiis, ad aut! Earum veniam odio ipsam modi accusamus, suscipit hic.</p>
    <button class="button-33" routerLink="/addInsurance">Apply for an insurance</button>
  </div>
  <div class="box">
    <img src="../../assets/insurance.gif" alt="" class="icon">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus sit reiciendis laboriosam sapiente voluptate sunt fuga explicabo iure. Blanditiis, ad aut! Earum veniam odio ipsam modi accusamus, suscipit hic.</p>
    <button class="button-33" routerLink="/viewInsurance">view my contracts</button>
  </div>
</div>











<!-- <form * (ngSubmit)="onSubmit()" class="mt-3">
    <div class="form-group">
      <label for="start_date">Start Date:</label>
      <input id="start_date" type="date" formControlName="start_date" class="form-control">
    </div>
    <div class="form-group">
      <label for="end_date">End Date:</label>
      <input id="end_date" type="date" formControlName="end_date" class="form-control">
    </div>
    <div class="form-group">
      <label for="coverage_amount">Coverage Amount:</label>
      <input id="coverage_amount" type="number" formControlName="coverage_amount" class="form-control">
    </div>
    <div class="form-group">
      <label for="premium">Premium:</label>
      <input id="premium" type="number" formControlName="premium" class="form-control">
    </div>
    <div class="form-group">
      <label for="type">Type:</label>
      <select id="type" formControlName="type" class="form-control">
        <option value="AGRICULTURAL">AGRICULTURAL</option>
        <option value="FISHING">FISHING</option>
  
      </select>
    </div>
    <div class="form-group">
      <label for="status">Status:</label>
      <select id="status" formControlName="status" class="form-control">
        <option value="ACTIVE">Active</option>
        <option value="EXPIRED">Inactive</option>
    
      </select>
    </div>
    <div class="form-group">
      <label for="user_id">User:</label>
      <input id="user_id" type="text" value="{{profile}}" formControlName="user_id" class="form-control">
    </div>
  
    <button type="submit" class="btn btn-primary" [disabled]="!insuranceForm.valid">Submit</button>
  </form>
   -->