<p-toast position="top-center"></p-toast>
<p-dialog 
(onHide) = "closeModal"
[(visible)]="visible" 
[modal]="true"
(visibleChange)="closeModal()"
[style]="{ width: '25rem' }">
    <ng-template pTemplate="header">
        <div style="display : flex; align-items : center; gap : 10px;">
            <p-avatar 
                [image]="profileImage || '../../assets/account-avatar-profile-user-11.svg' "
                shape="circle" />
            <span >
               <b>{{profile.firstname + " " + profile.lastname}}</b>
            </span>
        </div>
        
    </ng-template>
    <span class="p-text-secondary block mb-5">Update your password.</span>

    <div class="flex align-items-center gap-3 mb-3 mt-3">
        <label for="lastname" class="font-semibold w-6rem" style="margin-right : 1rem ;">
            New password
        </label>
        <div class="input">
            <input pInputText type={{inputType2}} [(ngModel)]="newPassword" name="newPassword" class="form-control" autocomplete="off" />
            <span (click)="passwordToPlain('input2')" ><i class="fa-solid fa-eye icon"></i></span>
        </div>
       
    </div>
    <div class="flex align-items-center gap-3 mb-3 mt-3">
        <label for="email" class="font-semibold w-6rem" style="margin-right : 1rem ;">
            Confirm New Password
        </label>
        <div class="input">
        <input [(ngModel)]="confirmNewPassword" type={{inputType3}} pInputText name="confirmNewPassword" class="form-control" />
        <span (click)="passwordToPlain('input3')" ><i class="fa-solid fa-eye icon"></i></span>

        </div>
    </div>

    <ng-template pTemplate="footer">
        <p-button 
            label="Cancel" 
            severity="secondary" 
            (click)="closeModal()" />
        <p-button 
            label="Save" 
            severity="secondary" 
            (click)="updatePassword()" 
          />
    </ng-template>
</p-dialog>
