nav {
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    height: 11vh;
    position: fixed;
    width: 100%;
    z-index: 10;
    transition: background-color  0.5s ease;
    transition: height 1s ease;
    
}

nav.scrolled {
    background-color: whitesmoke ;
    background-image: none;
    height: 12.5vh;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
  
 }
 

.logo {
   width: 100px ;
   height: 120px;
}

.navItems {
    display: flex;
    gap : 25px ;
    align-items: center;
    list-style: none;
 }

 .navItems > li > a {
    text-decoration: none;
    color :teal ;
 }

 .nav-link {
   position: relative; /* Needed for positioning the underline */
   display: flex;
   align-items: center;
   gap : 5px ;
  padding-bottom: 3px;
 }
 
 .nav-link:after {
   content: ""; /* Empty content for the underline element */
   position: absolute;
   left : 50% ;
   transform: translateX(-50%);
   width: 0; /* Initial width for animation */
   bottom: -5px; /* Position the underline below the text */
   height: 2px; /* Adjust underline height */
   background-color: green ; /* Underline color */
   transition: width 0.3s ease; /* Smooth animation */
 }
 
 .nav-link:hover:after {
   width: 100%; /* Animate width on hover */
 }
 .header-cart-item-txt {
   justify-content: space-between; /* Distribute space between text and icon */
 }
 
 .trash-icon {
   margin-left: 10px; /* Add some margin between the icon and the text */
 }
 .custom-button {
   color: white; /* Couleur du texte */
   background-color: rgb(8, 88, 51); /* Couleur de fond */
   border-color: rgb(8, 88, 51) /* Couleur de la bordure */
 }
 
 .custom-button:hover {
   background-color: rgb(8, 88, 51); /* Couleur de fond au survol */
   border-color: rgb(8, 88, 51); /* Couleur de la bordure au survol */
 }
 
 