.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .loan-types {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .loan-card {
    width: calc(33.33% - 20px); /* Réduisez la largeur pour tenir compte de l'espacement */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Ajoutez un espace en bas pour séparer les cartes */
  }
  
  .loan-image img {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
  }
  
  .loan-details {
    padding: 20px;
  }
  
  h3 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  p {
    margin: 0;
  }
  
  .description {
    color: #666;
  }
  
  .value {
    font-weight: bold;
    color: #00aaff;
  }
  