<p-toast position="top-center" />
<div class="container" style="width: 100%;">
  <div class="row">  <div class="card" style="width: 100%;">
      <div class="card-image">
        <h2>
          Get started
          <small>Let us report your sinister</small>
        </h2>
      </div>
      <form class="card-form" (ngSubmit)="onSubmit()">
        <div class="input">
          <input type="text" class="input-field" name="description" [(ngModel)]="description" required />
          <label class="input-label">Description</label>
        </div>

        <div class="input" style="display: flex; flex-direction: row; align-items: center;">
          <input type="text" class="input-field" name="city" [(ngModel)]="city" required style="width: 35%; margin-right: 5px;" />
          <label class="input-label" style="width: 35%;">City</label>

          <input type="text" class="input-field" name="state" [(ngModel)]="state" required style="width: 20%; margin-right: 5px;" />
          <label class="input-label" style="width: 20%; margin-left: 40%;">State</label>

          <input type="text" class="input-field" name="country" [(ngModel)]="country" required style="width: 20%; margin-right: 5px;" />
          <label class="input-label" style="width: 20%; margin-left: 60%;">Country</label>

          <input type="text" class="input-field" name="postalCode" [(ngModel)]="postalCode" required style="width: 20%;" />
          <label class="input-label" style="width: 20%; margin-left: 82%;">Postal</label>
        </div>

        <div class="input">
          <input type="number" class="input-field" name="amount" [(ngModel)]="amount" required />
          <label class="input-label">Amount</label>
        </div>

        <div class="input">
          <p-calendar [(ngModel)]="date" [showIcon]="true" name="date" [showOnFocus]="false" />
          <p style="margin-bottom: 15px !important;">Date :</p>
        </div>

        <div class="card flex justify-content-center">
          <p>Type :</p>
          <p-selectButton [options]="stateOptions" [(ngModel)]="type" name="type" optionLabel="label" optionValue="value" />
        </div>

        <div class="action">
          <button class="action-button">Report sinister</button>
        </div>
      </form>
      <div class="card-info">
        <p>By providing this information you are agreeing to our <a href="#">Terms and Conditions</a></p>
      </div>
    </div>

    <div class="card" style="width: fit-content;">  <div class="card-body">
        <h5 class="card-title" style="margin-bottom: 15px">Choose a Location</h5>
        <div id="map" style="height: 550px;"></div>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
      integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
      crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
