<div class="credit-card">
  <div class="credit-card">
    <div *ngIf="creditsAndGarantors.length > 0" class="credit-list">
      <h2>Please scan the QR code to access more details about your loan from the loan list</h2>
      <div class="credit-item" *ngFor="let item of creditsAndGarantors; let i = index" [class.animate]="isAnimating(i)">
        <div class="credit-details">
          <span class="dollar-icon">$</span>
          <h3>Credit Amount: {{ item.credit.amount }}</h3>
          <h3>Guarantor Name: {{ item.garantor.nameGarantor }}</h3>
          <button (click)="downloadExcel([item.credit.idCredit])">Télécharger Excel</button>
          <button (click)="downloadPdf([item.garantor.idGarantor])">Télécharger PDF</button>
        </div>
        <div class="credit-qrcode">
          <div class="qr-code-frame">
            <img [src]="item.credit.qrCodeImage" alt="QR Code">
          </div>
        </div>
        <div *ngIf="item.credit.showDetails" class="credit-details-expanded">
          <p>Date of Request: {{ item.credit.dateDemande }}</p>
          <p>Date of Obtaining: {{ item.credit.obtainingDate }}</p>
          <!-- Other credit details to display -->
        </div>
      </div>
    </div>
  </div>
  
    
  </div>

  







<div class="loan-calculator">
  <div class="top">
    <h2>Loan Calculator</h2>

    <form (ngSubmit)="calculateEMI()">
      <div class="group">
        <div class="title">Amount</div>
        <input type="number" [(ngModel)]="loanAmount" name="loanAmount" class="loan-amount" />
      </div>

      <div class="group">
        <div class="title">Interest Rate</div>
        <input type="number" [(ngModel)]="interestRate" name="interestRate" class="interest-rate" />
      </div>

      <div class="group">
        <div class="title">Tenure (in months)</div>
        <input type="number" [(ngModel)]="loanTenure" name="loanTenure" class="loan-tenure" />
      </div>

      
    </form>
    
    <button type="submit" class="calculate-btn">Calculate</button>  
  </div>
 
  <div class="result">
    <div class="left">
      <div class="loan-emi">
        <h3>Loan EMI</h3>
        <div class="value">{{ loanEMIValue }}</div>
      </div>

      <div class="total-interest">
        <h3>Total Interest Payable</h3>
        <div class="value">{{ totalInterestValue }}</div>
      </div>

      <div class="total-amount">
        <h3>Total Amount</h3>
        <div class="value">{{ totalAmountValue }}</div>
      </div>
    </div>
    
    <div class="right">
      <canvas id="myChart" width="400" height="400"></canvas>
    </div>
   
  </div>
  
</div>
