<div class="card">
    <p-carousel 
        [value]="insurances" 
        [numVisible]="4" 
        [numScroll]="3" 
        [circular]="false" 
        >
            <ng-template let-product pTemplate="item" style="display: flex; justify-content: center;">
                <div class="border-1 surface-border border-round m-2 p-3 Ibox">
                    <div class="mb-3">
                        <div class="relative mx-auto">
                         
                                <abbr [title]="product.status == 'ACTIVE' ? 'Active' : 'Expired'" class="hint">
                                    <img 
                                    style="width : 100px;height : 100px ;"
                                    [src]="product.status == 'ACTIVE' ?  '../../../assets/activeInsurance.png' : '../../../assets/expiredInsurance.png'" 
                                    [alt]="product.status" 
                                    class="w-full border-round" />
                                 </abbr>
                            <p-tag 
                                [value]="product.premium" 
                          
                                class="absolute" 
                                [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                        </div>
                    </div>
                    <div class="mb-3 font-medium">
                        Started on :{{ product.start_date + " "}}
                      <p> Due : {{ product.end_date}}</p> 
                    </div>
                    <div class="flex justify-content-between align-items-center">
                    <div class="mt-0 font-semibold text-xl" style="margin-bottom: 10px;">
                       Coverage Amount : {{ '$' + product.coverage_amount }}
                    </div>
                        <span>
                          <button class="button-33" style="margin-bottom: 10px;" [routerLink]="['/addSinister',product.id]" >Report sinister</button>
                        </span>
                        <span>
                            <button class="button-33"  style="margin-bottom: 10px;" [routerLink]="['/viewSinister',product.id]" >List of sinisters</button>
                          </span>
                    </div>
                </div>
            </ng-template>
    </p-carousel>
</div>