.Ibox {
    background-color: inherit;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    max-height: 400px !important;
    overflow: hidden;
}