<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project Listing</h4>
        <h5 class="card-subtitle text-muted">Overview of the projects</h5>
        <div class="table-responsive">
          <table class="table table-hover align-middle text-nowrap">
            <thead>
              <tr>
                <th class="text-dark font-medium fs-4">Image</th>
                <th class="text-dark font-medium fs-4">Project Name</th>
                <th class="text-dark font-medium fs-4">Address</th>
                <th class="text-dark font-medium fs-4">Category</th>
                <th class="text-dark font-medium fs-4">Total Investment</th>
                <th class="text-dark font-medium fs-4">Deadline</th>
                <th class="text-dark font-medium fs-4">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of pagedProjects">
                <td><img [src]="project.imageUrl" alt="Project Image" width="100" height="100"></td>
                <td class="fs-4">{{ project.title }}</td>
                <td class="fs-4">{{ project.address }}</td>
                <td class="fs-4">{{ project.projectCategory }}</td>
                <td class="fs-4">{{ project.totalInvestment }}$</td>
                <td class="fs-4">{{ project.deadline }}</td>
                <td>
                  <button class="btn btn-danger me-2">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="card-body border-top">
        <ngb-pagination
          [collectionSize]="totalProjects"
          [(page)]="currentPage"
          aria-label="Project pagination"
          [pageSize]="pageSize"
        ></ngb-pagination>
  
        <hr />
  
        <pre>Current page: {{ currentPage }}</pre>
      </div>
    </div>
  </div>
</div>
