<ul class="transaction-list">
  <li [class]="transaction.amount > 0 ? 'plus' : 'minus'">
    <div class="transaction-details">
      <span class="transaction-text">{{ transaction.text }}</span>
      <span class="transaction-amount" [class]="transaction.amount > 0 ? 'plus' : 'minus'">
        {{ transaction.amount > 0 ? '+' : '-' }}${{ amount(transaction.amount) }}
      </span>
    </div>
    <button class="delete-btn" (click)="delete(transaction.id)">x</button>
  </li>
</ul>
<style>
  /* Style pour la liste des transactions */
.transaction-list {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0; /* Supprime le padding par défaut */
}

/* Style pour chaque élément de transaction */
.transaction-list li {
  background-color: #f9f9f9; /* Couleur de fond */
  padding: 10px; /* Espacement intérieur */
  margin-bottom: 5px; /* Espacement entre chaque élément */
  border-radius: 15px; /* Coins arrondis */
  display: flex; /* Utilisation de flexbox pour aligner les éléments */
  justify-content: space-between; /* Aligner les éléments sur l'espace disponible */
}

/* Style pour le texte de la transaction */
.transaction-text {
  font-size: 1em; /* Taille de police */
  color: #333; /* Couleur du texte */
}

/* Style pour le montant de la transaction */
.transaction-amount {
  font-size: 1em; /* Taille de police */
}

/* Style pour les montants positifs */
.plus {
  color: green; /* Couleur verte pour les montants positifs */
}

/* Style pour les montants négatifs */
.minus {
  color: red; /* Couleur rouge pour les montants négatifs */
}

/* Style pour le bouton de suppression */
/* Style pour le bouton de suppression */
.delete-btn {
  background-color: transparent; /* Fond transparent */
  color: #ff6347; /* Couleur du texte rouge */
  border: 2px solid #ff6347; /* Bordure rouge */
  border-radius: 5px; /* Coins arrondis */
  padding: 5px 15px; /* Espacement intérieur */
  cursor: pointer; /* Curseur pointer au survol */
  transition: background-color 0.3s, color 0.3s; /* Transition douce */
}

/* Hover style pour le bouton de suppression */
.delete-btn:hover {
  background-color: #ff6347; /* Fond rouge au survol */
  color: rgb(217, 21, 21); /* Texte blanc au survol */
}


</style>