.outofstock {
    font-weight: 700;
    color: #ff5252;
    text-decoration: line-through;
}

.lowstock {
    font-weight: 700;
    color: #ffa726;
}

.instock {
    font-weight: 700;
    color: #66bb6a;
}

:host ::ng-deep .row-accessories {
    background-color: rgb(13, 99, 11) !important;
}