
<app-title></app-title>
<div class="mainContainer" #container>
    
    <div class="firstSection">
        <img src="../../assets/home1.jpg" alt="home image" >
        <div class="firstText">
            <h1 #title>Welcome on board !</h1>
            <p>Welcome to FarmEase, your one-stop destination for agricultural financial solutions. Whether you're a farmer seeking a loan to expand your operations, a community looking to crowdfund agricultural projects, or an investor interested in agricultural mortgages, FarmEase has you covered.           </p>
              <img src="../../assets/polar-ufo-abducting-a-farmers-cow.gif" alt="book illustration" class="firstIllustration">
             <button class="button-30" role="button" >Learn more</button> 

        </div>
    </div>
    <div class="secondSection">
       <div class="secondText">
        <h1 #title>would you like a hand ?</h1>
        <p> Our comprehensive marketplace connects borrowers and lenders, facilitating seamless transactions and fostering growth in the agricultural sector. With our user-friendly web app, accessing financial services tailored to the unique needs of the agricultural community has never been easier. Join FarmEase today and embark on a journey towards financial empowerment and agricultural prosperity. </p>
        <img src="../../assets/taxi-bull-with-flower.gif" alt=" illustration" class="secondIllustration">
       </div>
       <img src="../../assets/home3.jpg" alt="book shop image" >
    </div>
    <div class="thirdSection">
        <img src="../../assets/ceo.png" alt="ceo">
        <div class="bio">
        <h2>Meet our CEO !</h2>
        <p><span>Aziz Benzarti</span> is an aspiring entrepreneur and a finance enthusiast, with his team he aims to create the change he wants to see in the world </p>
       </div>
      </div>
</div>

<h1 class="faq">have questions ?</h1>
<details>
    <summary>faq1</summary>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat corrupti, accusantium porro odio, eveniet libero consequatur quam facilis voluptatibus nobis ullam eius deleniti, consectetur doloremque nihil. Sint quaerat rem iusto.</div>
</details>
<details>
    <summary>faq2</summary>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat corrupti, accusantium porro odio, eveniet libero consequatur quam facilis voluptatibus nobis ullam eius deleniti, consectetur doloremque nihil. Sint quaerat rem iusto.</div>
</details>
<details>
    <summary>faq2</summary>
    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat corrupti, accusantium porro odio, eveniet libero consequatur quam facilis voluptatibus nobis ullam eius deleniti, consectetur doloremque nihil. Sint quaerat rem iusto.</div>
</details>
