
<app-title></app-title>
<div class="mainContainer" #container>
    
    <div class="firstSection">
        <img src="../../assets/home1.jpg" alt="home image" >
        <div class="firstText">
            <h1 #title>Welcome on board !</h1>
            <p>Welcome to FarmEase, your one-stop destination for agricultural financial solutions. Whether you're a farmer seeking a loan to expand your operations, a community looking to crowdfund agricultural projects, or an investor interested in agricultural mortgages, FarmEase has you covered.           </p>
              <img src="../../assets/bendy-man-and-woman-discussing-the-graph-on-the-whiteboard.gif" alt="book illustration" class="firstIllustration">
             <button class="button-30" role="button" >Learn more</button> 

        </div>
    </div>
    <div class="secondSection">
       <div class="secondText">
        <h1 #title>would you like a hand ?</h1>
        <p> Our comprehensive marketplace connects borrowers and lenders, facilitating seamless transactions and fostering growth in the agricultural sector. With our user-friendly web app, accessing financial services tailored to the unique needs of the agricultural community has never been easier. Join FarmEase today and embark on a journey towards financial empowerment and agricultural prosperity. </p>
        <img src="../../assets/bendy-budget-planning-doing-taxes-and-accounting.gif" alt=" illustration" class="secondIllustration">
       </div>
       <img src="../../assets/home3.jpg" alt="book shop image" >
    </div>
    <h1 class="serviceH1">All services, one plateform</h1>
    <div class="thirdSection">
      <div class="cards" >
        <div class="card1" #card>
            <img src="../../assets/investmentIcon.png" alt="icon" class="cardIcon">
            <h2>Loans</h2>  
            <p>Apply for easy loans</p>     
        </div>
        <div class="card2" #card>
            <img src="../../assets/loanIcon.png" alt="icon" class="cardIcon">
            <h2>Investments</h2>  
            <p>Apply for easy investments</p>     
        </div>
        <div class="card3" #card>
            <img src="../../assets/mortgageIcon.png" alt="icon" class="cardIcon">
            <h2>Mortgages</h2>  
            <p>Apply for easy mortgages</p>   
            
        </div>
        <div class="card4" #card>
            <img src="../../assets/insuranceIcon.png" alt="icon" class="cardIcon">
            <h2>Insurance</h2>  
            <p>Apply for easy insurance</p>   
        </div>
        <div class="card5" #card>
            <img src="../../assets/marketplaceIcon.png" alt="icon" class="cardIcon">
            <h2>Marketplace</h2>  
            <p>sell and buy !</p>   
        </div>
      </div>
      
    </div>
     <div class="accordion">
    <div class="flex mb-3 gap-2 justify-content-end">
        <p-button (click)="activeIndex = 0" rounded="true" label="1" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 0"></p-button>
        <p-button (click)="activeIndex = 1" rounded="true" label="2" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 1"></p-button>
        <p-button (click)="activeIndex = 2" rounded="true" label="3" styleClass="w-2rem h-2rem p-0" [outlined]="activeIndex !== 2"></p-button>
    </div>
    <p-accordion [activeIndex]="activeIndex">
        <p-accordionTab header="Header I">
            <p class="m-0">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Header II">
            <p class="m-0">
                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
                ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Consectetur, adipisci velit, sed quia non numquam eius modi.
            </p>
        </p-accordionTab>
        <p-accordionTab header="Header III">
            <p class="m-0">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
                qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.
            </p>
        </p-accordionTab>
    </p-accordion>
</div>
</div>


