<div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Coverage Amount</th>
          <th>Premium</th>
          <th>Type</th>
          <th>Status</th>
          <th>User ID</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let insurance of insurances">
          <td>{{ insurance.start_date }}</td>
          <td>{{ insurance.end_date }}</td>
          <td>{{ insurance.coverage_amount }}</td>

        </tr>
      </tbody>
    </table>
  </div>
  