
  .forgetContainer {
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }

  .firstStep , .secondStep , .thirdStep {
    width: 350px;
    height: 150px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  .thirdStep {
    margin-bottom: 30px;
  }

  .input {
    background-color: gainsboro;
    width: 80%;
    margin: auto;
  
  }

  .arrow {
    height: 80px;
    width: 50px;
  }