<p-toast position="top-center"></p-toast>

<div class="forgetContainer">
  <h1 style="color: green ; font-weight: 900;">reset your password</h1>
  <div class="firstStep">
  <input type="text" name="email" [(ngModel)]="email"  class="form-control input" placeholder="enter your email"/>
  <button class="button-30" (click)="requestForgetCode()">next</button>
  </div>
  <img *ngIf="showSecondStep"  src="../../assets/active-arrow-down.png" alt="" class="arrow">
  <div class="secondStep" *ngIf="showSecondStep">
    <input type="text" name="code" [(ngModel)]="code" class="form-control input" placeholder="enter the code you received"/>
    <div style="display : flex; gap : 10px ;" >
    <button class="button-30" (click)="verifyForgetCode()" >next</button>
    <button class="button-30" (click)="showSecondStep = false ; showThirdStep = false;">go back</button>
    </div>
  </div>
  <img  *ngIf="showThirdStep" src="../../assets/active-arrow-down.png" alt="" class="arrow">
  <div class="thirdStep"  *ngIf="showThirdStep">
    <input type="text"  name="newPassword" [(ngModel)]="newPassword"  class="form-control input" placeholder="enter a new password"/>
    <button class="button-30" (click)="resetPassword()">confirm</button>

  </div>
</div>